body{
    margin: 0;
    font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
}
nav{
    display: flex;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
  
}

#logos{
    width: 230px;
 
    
}
.f1{
    background-image: url(image1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 898px;
}
.menu a{
    color: white;
    margin: 15px;
    font-size: 13px;
   text-decoration: none;
   font-weight: bold;
}

.ham img{
    width: 20px;
}
.f2{
    background-image: url(image2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 757px;
}
.f3{
    background-image: url(image3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    height: 759px;
}
.f4{
    background-image: url(image4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 759px;
    background-position: center;
}
footer{
    background-color: black;
    height: 100px;
}
.heading1{
    margin-top: 300px;
    margin-left: 100px;
}
button{
    width: 163px;
    height: 53px;
}
.button1{
    color: white;
    background: transparent;
    border: 2px solid white;

}
h2{
    font-weight: bolder;
    height: 70px;
    font-size: 40px;
}
h4{
    font-style: normal;
    font-weight:100;
}
h2,h4{
    color: white;
}
.f2 h2,h4{
    margin-top: 0%;
}
.button0{
    display: none;
}
.heading3{
    margin-top: 200px;
    margin-left:100px;
}
.c h2,h4{
    margin-top: 0;

}
.x{
    margin-top: 45px;
}
.pad{
    padding-top: 250px;
    margin: 0;
    padding-left: 100px;
}
.footer a{
    text-decoration: none;
    color: white;
    text-align: center;
    padding-right: 20px;
    display: inline-block;
    font-size: 10px;
}
.footer{
    padding-top: 45px;
    padding-left: 130px;
    display: flex;
}
h5{
    margin: 0%;
    padding-left: 240px;
    padding-right: 20px;
    color: rgb(151, 151, 151);
    font-size: 10px;
    

}
